<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthierMind- Tips and Tricks</title>
    <audio id="audio" autoplay loop src="audio/Mindfulness.mp3"></audio>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredoka+One&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a995213cd6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="home-container home-row">
        <nav class="nav" style="height: 50px;">
            <h1 class="hero__text" >Suggestions</h1>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="nav-links">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{{ url_for('activities') }}" class="nav__link">Activities</a></li>
                        <li class="nav__item"><a href="{{ url_for('mindfulness') }}" class="nav__link">Mindfulness</a></li>
                    </ul>
                </div>
            </nav>
        </div>
   
    <div class="hero">
        <div class="hero-top">
            <div class="hero__text">
                <h1 class="hero-title">Custom Made Suggestions. Just for You!</h1>
                <h3 class="hero-title">Explore the Activities and Mindfulness sections for Stress Busters.</h3>
            </div>
            <div class="containerImg">
                <img class="hero__img" src="https://i.ibb.co/m0VQ7KQ/kids-meditating.png" alt="kids meditating" srcset="">
            </div>
         </div>
        <div class="hero-bottom">
            <main class="main home-container">
                <section class="activities-content">
                    <h2 class="activities-h2">Suggestions</h2>
                    <section class="content-container">
                        <img class="activities_img" src="https://i.ibb.co/0C1XHCr/kids-drawing.png" alt="Group of kids drawing">
                        <section class="content-section">
                            <ul>
                                <li>Spend time with your friends everyday</li>
                                <li>Follow the Breathing Exercises in mornings and evenings</li>
                                <li>Contact the below given Number for More information</li>
                            </ul>
                        </section>
                    </section>
                </section>

                <!-- <section class="mindfulness-content">
                    <h2 class="mindfulness-h2">Mindfulness</h2>
                    <section class="mindfulness-content-container">
                        <img class="mindfulness_img" src="https://i.ibb.co/7X8dhBs/boy-thinking.png" alt="A child writing">
                        <section class="mindfulness-p">
                            <p>What does it mean to be mindful? How can I control my emotions? Where do I start? HealthierMind breaks this down for you and makes it easier to get in tune with your feelings. Click here to explore different techniques and resources on mindfulness.  </p>
                            <button type="button" aria-label="mindfulness page" onclick="location.href='mindfulness.html'" class="mindfulness-btn">Mindfulness</button>
                        </section>
                    </section>
                </section> -->

                <!-- <section class="tracker-content">
                    <h2 class="tracker-h2">Mood Tracker</h2>
                    <section class="content-container">
                        <img class="tracker_img" src="https://i.ibb.co/G39qCZQ/different-emotions.png" alt="">
                        <section class="content-section">

                            <p>How are you feeling today? You can track and record your moods every day to improve your menta health. This interactive mood tracker makes it easy and fun to log your emotions. Click here to give it a try!</p>
                            <button type="button" onclick="location.href='tracker.html'" class="btn">Mood Tracker</button>
                        </section>
                    </section>
                </section> -->
            </main>
        </div>
    </div>

<script src="static/js/main.js"></script>
</body>
</html>